h1 { 

  color: green; 
  background-color: yellow:


}

#Instructions { 

  
}

#NumberBox { 

    background-color: greenyellow; 
    width: 200px; 
    height: 100px; 
    float: left; 
}

#WinsandLosses { 

    background-color: rgb(132, 255, 255); 
    width: 200px; 
    height: 100px; 
    float: left; 

    
}


#bluebutton { 

    float: left;

}

#greenbutton { 

    float: left;

}

#redbutton { 

    float: left;
}

#yellowbutton { 
    float: left;

}

#jewelValue { 
    
    background-color:#1b9dd0;
    width: 200px; 
    height: 100px; 
    float: left; 

}

#Score { 
    background-color: #1b9dd0;
    height: 50px;


}